
<html>
<head> 
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

 <script>
    function Login()
    {
       const uri = 'Home/index';
        var dataToPost = "{ usedid:'" + document.getElementById("usedid").value + "', password:" + document.getElementById("password").value+ "}";
    $.ajax({
    type: 'POST',
    url:uri,
    data: { usedid: document.getElementById("usedid").value , password: document.getElementById("password").value },
    dataType:"json",
    traditional:true,
    success: function (data) 
    {
        if(data=="登入失敗"){
               alert("登入失敗");}
                 else{
                   window.location.href = data;
          }
    },error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert(XMLHttpRequest.status);
                  alert(XMLHttpRequest.readyState);
                  alert(textStatus);
              }
});




    //     const uri = 'Home/index';
    //      const item = {
    //      "usedid": document.getElementById("usedid").value,
    //      "password":document.getElementById("password").value
    //      };
    //  // alert(document.getElementById("usedid").value);
    //   //alert(JSON.stringify(item));
    //   $.ajax({
    //         url:uri,
    //         type: "POST",
    //         dataType: "json",
    //         async:false,
    //         data:JSON.stringify(item),
    //         success: function (data) 
    //         {
    //             if(data=="登入失敗"){
    //             alert("登入失敗");}
    //             else{
    //               window.location.href = data;
    //               }
    //          },
    //          error: function (XMLHttpRequest, textStatus, errorThrown) {
    //              alert(XMLHttpRequest.status);
    //              alert(XMLHttpRequest.readyState);
    //              alert(textStatus);
    //          }
    //      });
    }
 
 
 
 </script>



</head>
    <body>
         <table>
           <tr>
             <td>帳號：</td>
             <td><input type="text"   id="usedid" length="10"></td>
           </tr>
           <tr>
             <td>密碼：</td>
             <td><input type="text"   id="password" length="10"></td>
           </tr>
           <tr>
               <td><input type="button" value="登入"   onclick="Login();" ></td>
           </tr>
         </table>
     </body>
    
</html>