<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script>
    function newUser()
    {
           $('#dlg').dialog('open').dialog('center').dialog('setTitle','New User');
           $('#fm').form('clear');
           $( "#Active" ).click(function() 
           {
             saveUser();
           });
    }
    function destroyUser()
    {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
                    if (r)
                    {
                        const uri = 'LoginSuccess/Delete';
                        $.ajax({
                        type: 'POST',
                        url:uri,
                        data: {UserID:row.UserID,Username:row.Username,UserPrime:row.UserPrime,UserPassWord:row.UserPassWord},
                        dataType:"json",
                        traditional:true,
                        success: function (data) 
                       {
                             window.location.href = data;
                       },error: function (XMLHttpRequest, textStatus, errorThrown) 
                      {
                         alert(XMLHttpRequest.status);
                         alert(XMLHttpRequest.readyState);
                         alert(textStatus);
                    }
                     });
                    }
                });
            }
        }
    function UpdateUser()
    {
        const uri = 'LoginSuccess/Edit';
        $.ajax({
        type: 'POST',
        url:uri,
        data: {UserID:document.getElementById("UserID").value,Username:document.getElementById("UserName").value,UserPrime: document.getElementById("UserPrime").value,UserPassWord: document.getElementById("UserPassWord").value},
        dataType:"json",
        traditional:true,
        success: function (data) 
        {
                 window.location.href = data;

        },error: function (XMLHttpRequest, textStatus, errorThrown) 
        {
                  alert(XMLHttpRequest.status);
                  alert(XMLHttpRequest.readyState);
                  alert(textStatus);
        }
         });

    }
    function editUser()
    {
            var row = $('#dg').datagrid('getSelected');
            if (row)
            {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','Edit User');
                $('#fm').form('load',row);
                $('#UserID').textbox({value:row.UserID}); 
                $('#UserName').textbox({value:row.Username});
                $('#UserPassWord').textbox({value:row.UserPassWord});
                $('#UserPrime').textbox({value:row.UserPrime});
                $( "#Active" ).click(function() 
                {
                   UpdateUser();
                });

            }

    }
    function saveUser()
    {
        const uri = 'LoginSuccess/Create';
        $.ajax({
        type: 'POST',
        url:uri,
        data: {UserID:document.getElementById("UserID").value,Username:document.getElementById("UserName").value,UserPrime: document.getElementById("UserPrime").value,UserPassWord: document.getElementById("UserPassWord").value},
        dataType:"json",
        traditional:true,
        success: function (data) 
        {
                 window.location.href = data;

        },error: function (XMLHttpRequest, textStatus, errorThrown) 
        {
                  alert(XMLHttpRequest.status);
                  alert(XMLHttpRequest.readyState);
                  alert(textStatus);
        }
         });
    }
  </script>


</head>
    <body>
        <div>權限變更</div> 
        <table id="dg" title="My Users" class="easyui-datagrid" style="width:700px;height:250px"
          toolbar="#toolbar" pagination="true" rownumbers="true" fitColumns="true" singleSelect="true"> 
        <thead>
           <tr>
                <th field="UserID" width="50">使用者ID</th>
                <th field="Username" width="50">使用者名稱</th>
                <th field="UserPrime" width="50">使用者權限</th>
                <th field="UserPassWord" width="50">使用者密碼</th>
            </tr>
        </thead>
        @foreach (var Users in Model)
        { 
            <tr><td>@Users.UserID</td>  
                <td>@Users.Username</td>   
                <td>@Users.UserPrime</td>   
                <td>@Users.UserPassWord</td>  
            </tr>  
        }
        </table> 
        <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
        </div>
      </body>
       <div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
        <form id="fm"  novalidate style="margin:0;padding:20px 50px">
            <h3>User Information</h3>
            <div style="margin-bottom:10px">
                <input id="UserID" class="easyui-textbox" required="true" label="User ID：" style="width:100%">
            </div>   
            <div style="margin-bottom:10px">
                <input id="UserName" class="easyui-textbox" required="true" label="User Name：" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input id="UserPassWord" class="easyui-textbox" required="true" label="PW：" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input id="UserPrime" class="easyui-textbox" required="true" label="User Prime：" style="width:100%">
            </div>
        </form>
        </div>
        <div id="dlg-buttons">
        <a id="Active" class="easyui-linkbutton" iconCls="icon-ok"  style="width:90px">Save</a>
        <a  class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
        </div>
    </div> 
</html>